
//- Mиксин для навигации  с проверкой текущая страница или нет
mixin menu(items, ulClass, liClass, aClass, currentPageID)
	ul(class=ulClass)
		each item in items
			if item.key === currentPageID
				li(class=liClass)
					a(class=`${aClass} ${aClass}--current`, href='#')= item.title
			else
				li(class=liClass)
					a(class=aClass, href=item.url)= item.title


//- Миксин для мобильного меню Главная страница
mixin menuMobileCategories(categories)
	ul(class='mobile-navigation-main__list list-reset')
		each category in categories
			li(class='mobile-navigation-main__item')
				h3(class='mobile-navigation-main__title')= Object.keys(category)[0]
					+menuMobileSubCategories(category[Object.keys(category)[0]])
mixin menuMobileSubCategories(subcategories)
	ul(class='mobile-navigation-main__sublist')
		each subcategory in subcategories
			li(class='mobile-navigation-main__subitem')
				a(href=subcategory.url)= subcategory.name

//- Миксин для мобильного меню страница Каталог
mixin menuMobile(items, ulClass, liClass, aClass)
	ul(class=ulClass)
		each item in items
			li(class=liClass)
				a(class=aClass href=item.url)= item.title

//- Mиксин для кнопки
mixin button(text='Кнопка', className='button', type='button', id)
	button(type=type, class=className, id=id)= text
//-Use +button('Войти через VK', 'vk-login', 'button')

//- Mиксин для кнопки с иконкой
mixin buttonSpan(text='Кнопка', className='button', type='button', id, spanClass='button__text')
	button(type=type, class=className, id=id)
		span(class=spanClass)= text

//- Миксин для списка кнопок
mixin listButton(...items)
	ol(class='button-list list-reset')
		each item in items
			li
				button(class='button' type='button')= item

//- Mиксин для кнопки-ссылки
mixin link(className, text, href='#')
	a(class=className, href=href)= text
//-Use +link('my-link-class', 'Перейти к каталогу', './pages/catalog.html')

//- Mиксин для списка ul
mixin list(items, ulClass, liClass)
	ul(class=ulClass)
		each item in items
			li(class=liClass)= item

//-Use +list(['Пункт 1', 'Пункт 2', 'Пункт 3'], 'my-ul-class', 'my-li-class')

mixin socialList(items)
	ul(class='social list-reset')
		each item in items
			li(class='social__item')
				a(class='social__link', href=item.href)
					span(class='visually-hidden')= item.text

//- Mиксин для категории и подкатегорий каталога
mixin categoryList (categories)
	ul(class='category__list list-reset')
		each category in categories
			li(class='category__item')
				h3(class='category__title')= Object.keys(category)[0]
				ul(class='sub-category__list list-reset')
					each subcategory in category[Object.keys(category)[0]]
						li(class='sub-category__item')
							a(class='sub-category__link', href=subcategory.url)= subcategory.name
mixin menuFooterSubCategories(subcategories)
	ul(class='menu-footer__sub-list list-reset')
		each subcategory in subcategories
			li(class='menu-footer__sub-item')
				a(href=subcategory.url)= subcategory.name

//- Миксин для изображений
mixin img(className, src, name, alt, width, height, ext)
	picture
		source(type='image/webp' srcset=`${src}/tablet/tablet-${name}@1x.webp 1x, ${src}/tablet/tablet-${name}@2x.webp 2x` media="(min-width: 768px)" width=width height=height)
		source(type='image/webp' srcset=`${src}/desktop/desktop-${name}@1x.webp 1x, ${src}/desktop/desktop-${name}@2x.webp 2x` media="(min-width: 1440px)" width=width height=height)
		source(type=`image/${ext}` srcset=`${src}/tablet/tablet-${name}@1x.${ext} 1x, ${src}/tablet/tablet-${name}@2x.${ext} 2x` media="(min-width: 768px)" width=width height=height)
		source(type=`image/${ext}` srcset=`${src}/desktop/desktop-${name}@1x.${ext} 1x, ${src}/desktop/desktop-${name}@2x.${ext} 2x` media="(min-width: 1440px)" width=width height=height)
		img(class=className src=`${src}/mobile/mobile-${name}.${ext}`, alt=alt, width=width, height=height)

//- Миксин для SVG картинки из стека
mixin inlineSvg(className, width, height, id, fill, stroke)
	svg(class=className, width=width, height=height, fill=fill, stroke=stroke, viewBox='0 0 ' + width + ' ' + height, xmlns="http://www.w3.org/2000/svg")
		use(xlink:href=`../images/icons/stack.svg#${id}`)

//- Миксин для input
mixin inputField(label, type, name, id, placeholder)
	label(for=id)= label
	input(type=type, name=name, id=id, placeholder=placeholder)
//-Use +inputField('Search', 'text', 'name-search', 'id-search', 'Введите placeholder')

//-Миксин для отдельного checkbox
mixin checkbox(name, checked, id, labelText)
	input(type="checkbox", name=name, checked=checked, id=id)
	label(for=id)= labelText

//-Миксин для списка checkbox цена с количеством едениц товара
mixin priceCheckboxList(priceCheckboxes)
	ol(class='price-list list-reset')
		each checkbox, index in priceCheckboxes
			li(class='price-list__item' data-minCost=checkbox.minCost data-maxCost=checkbox.maxCost)
				label(class='price-list__label')
					input(class='price-list__input', type="checkbox", name='cost')
					span(class="price-list__desc") #{checkbox.desc}

//- Миксин для чекбоксов с брендами и количеством
mixin firmCheckboxList(firmCheckboxes)
	ul(class='firm-list list-reset')
		each checkbox, index in firmCheckboxes
			li(class='firm-list__item' )
				label(class='firm-list__label')
					input(class='firm-list__input', type="checkbox", name=checkbox.description)
					span(class="firm-list__desc") #{checkbox.description}
					span(class='checkbox__count')

//- Миксин для карточки товара
mixin productList(products)
	ul(class='product-list list-reset')
		each product in products
			li(class='product-list__item')
				a(class='product-list__link')
					img(class='product-list__img', src=product.imagePath, alt=product.name)
					h3(class='product-list__title')= product.name
					p(class='current-price')= product.price + ' р.'
					span(class='old-price')= product.oldPrice + ' р.'
					span(class='product-list__status')= product.status

//- Миксин для меню и подменю footer
mixin menuFooterCategories(categories)
	ul(class='menu-footer__list list-reset')
		each category in categories
			li(class='menu-footer__item')
				h3(class='menu-footer__title')= Object.keys(category)[0]
					+menuFooterSubCategories(category[Object.keys(category)[0]])
mixin menuFooterSubCategories(subcategories)
	ul(class='menu-footer__sub-list list-reset')
		each subcategory in subcategories
			li(class='menu-footer__sub-item')
				a(class='menu-footer__sub-link' href=subcategory.url)= subcategory.name

//- Миксин для обратной связи в футере
mixin footerCallback(categories)
	ul(class='footer__callback-list list-reset')
		each category in categories
			li(class='footer__callback-item')
				a(class='footer__callback-link' href=category.url)=category.name

//- Боковое меню для страницы избранное
mixin asideMenu(categories)
	ul(class='aside-menu__list list-reset')
		each category in categories
			li(class='aside-menu__item')
				a(href=category.url)= category.name

//- Боковое меню для страницы Настройки калькулятора
mixin asideMenuCalcSettings(categories)
	ul(class='asideMenuCalcSettings__list list-reset')
		each category in categories
			li(class='asideMenuCalcSettings__item')
				a(href=category.url)= category.name
